<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id="formLogin"></span>
            <!-- form card login with validation feedback -->
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Whishlist</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="producto" placeholder="Ingresar nombre producto..." #nombre>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" (click) = "guardar(nombre.value)"> Ingresar!</button>
                        </div>
                    </form>
                </div> 
            </div>
        </div> 
    </div>
    <hr class="mb-5">
        <div class="row row-flex">
            <app-producto *ngFor = "let p of productos, let i = index" 
            [producto]= "p"
            [idx] = "i+1"
            (clicked)= "elegido(p)">
            </app-producto>
        </div>
      
</div>
