<div class="container content">
    <div class="row">
      <h1>
        {{ title }}
      </h1>
      <button type="button" class="btn btn-danger">Danger</button>
  </div>
  <app-listado-producto></app-listado-producto>
</div>

