<div class="card-content">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/nature" alt="">
        <span>
            <h4>{{position}}</h4>
        </span>
    </div>
    <div class="card-desc">
          <h3>{{producto.nombre}}</h3>
            <p>Stock</p>
            <ul>
                <li *ngFor = "let s of producto.stock">
                    <span [ngSwitch] ="s">
                        <i *ngSwitchCase="'Disponible'" style="color: green;">{{s}}</i>
                        <!-- <i *ngSwitchCase="'Faltante'" style="color: red;">{{s}}</i> -->
                        <i *ngSwitchDefault>{{s}}</i>
                    </span>
                </li>
            </ul>

            <a href="#" class="btn-card" (click)="ir()">{{producto.nombre}}</a>
            <span *ngIf="producto.isSelected()">
                <span ngNonBindable>
                    {{Para Comprar}}
                </span>
            </span>
    </div>
</div>


